.boardList__container {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  flex-wrap: wrap;

  justify-content: center;
}

.boardCard__container {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  border-radius: 8%;
}
